{{#if appointment}}
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">{{appointment.appointmentDate}}</h4>
        <p class="list-group-item-text">{{appointment.reasonForAppointment}}</p>
        <p class="list-group-item-text">{{appointment.facility}}</p>
    </a>
{{else}}
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading"><i class="fas fa-spinner fa-pulse"></i></h4>
        <p class="list-group-item-text">I'm still loading bro...</p>
    </a>
{{/if}}