{{!-- The following component displays Ember's default welcome message. --}}
{{!-- {{welcome-page}} --}}
{{!-- Feel free to remove this! --}}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Clinical stuff</h1>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <h3>visits</h3>
            <div class="col-sm-4 row">
                <div class="list-group">
                    {{visits-cmp}}
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-12">
            <h3>Appointments</h3>
            <div class="col-sm-4 row">
                <div class="list-group">
                    {{appointments-cmp}}
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}